# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/xcschemes/
!*.xcodeproj/xcshareddata/xcbaselines/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
DerivedData/
*.xcuserstate
*.xcuserdatad

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/README.md

# Ruby
Gemfile.lock
vendor/

# Certificates
*.p12
*.mobileprovision
*.cer
*.certSigningRequest

# Build artifacts
*.ipa
*.dSYM.zip
*.app

# macOS
.DS_Store
