<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>67FEA3E1-ADA6-4FC7-BB30-CAE0E3132674</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>0</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Apple M3 Pro</string>
				<key>cpuSpeedInMHz</key>
				<integer>0</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>12</integer>
				<key>modelCode</key>
				<string>Mac15,6</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>12</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
		</dict>
		<key>7E949033-F2C2-4631-9BEC-D695E2670603</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>0</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Apple M3 Pro</string>
				<key>cpuSpeedInMHz</key>
				<integer>0</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>12</integer>
				<key>modelCode</key>
				<string>Mac15,6</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>12</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone17,4</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphonesimulator</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
